/* 
FILENAME: globals.css
DESCRIPTION: This stylesheet serves global declarations to all Pragprog Books assets
AUTHOR: Matthew Anderson -> matthew.anderson.design@gmail.com
*/

/* =GRID OVERRIDE */
/*  Grid is inactive when entire section is commented */
/*
body {
  background: #fff url("../images/16_col.png") center top repeat-y !important;
}

#wrapper, #banner, #content, #container {
  background: none !important;
}
*/
/* =BASE */

body {
  background: #7c6b61 url("/images/bg.jpg");
  font: normal 62.5%/20px 'Helvetica Neue', Helvetica, Arial, sans-serif; /* normalize font size across browsers */
  text-align: left;
	color: #333;
}
/*
a:link, a:visited {
  font-weight: normal;
  text-decoration: none;
  color: #fae443;
}
  
a:hover, a:active {
  background-color: #fae443;
  color: #555a6e;
}
*/
a, strong, b { /* Straightens out OS X font rendering */
  line-height: 19px;
}

.hidden {
	display: none;
}

/* =GRID =MODIFIERS */

.container_16:after{clear:both;content:'.';display:block;visibility:hidden;height:0}
.container_16{display:inline-block}
* html .container_16{height:1%}
.container_16{display:block}

.right {
  float: right !important;
}

li.alpha {
  clear: both;
}

/* =SHARED */

.rounded_10 { -webkit-border-radius: 10px; } /* Safari */
.rounded_10, x:-moz-any-link, x:default { -moz-border-radius: 10px; } /* Firefox 3 */
.rounded_5 { -webkit-border-radius: 5px; } /* Safari */
.rounded_5, x:-moz-any-link, x:default { -moz-border-radius: 5px; } /* Firefox 3 */

/* =LAYOUT */

#content {
  background-color: #fff;
  margin: 0 auto;
}

/* =HEADINGS */

h1, h2 {
  letter-spacing: -0.05em;
}

h1 {
  margin: 20px 0;
  line-height: 40px;
  font: bold 3.6em/40px 'Myriad Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #fff;
}

h2 {
  margin: 20px 0;
  padding-bottom: 19px;
  border-bottom: 1px solid #eee;
  font-size: 2.2em;
}

h3 {
  margin-bottom: 20px;
  line-height: 20px;
  font-size: .875em;
  font-weight: normal;
  text-align: center;
  color: #575b6a;
}

/* =CONTENT */

hr {
  clear: both;
  height: 1px;
  margin: 0 10px 19px 10px;
  padding: 0;
  border: 0;
  border-top: 1px solid #1f2024;
}

#content p, #content ul, #content ol {
  font-size: .875em;
}

/* =HEADER */

#header em {
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 40px;
  font-size: 1.6em;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  text-align: right;
  color: #afa6a0;
}

/* =FORMS */

form li {
  clear: both;
  border-bottom: 1px solid #eee;
  line-height: 40px;
}

form li label {
  display: block;
  float: left;
  width: 120px;
/*  line-height: 40px;
*/  font-size: 1.6em;
  font-weight: bold;
  color: #666;
}

form li label:after {
  content: ':';
}


/* =BUTTONS =BASE */
/* Abstracted from the Wufoo implementation - thanks guys! */
/* http://particletree.com/features/rediscovering-the-button-element/ */

.buttons {
	overflow: hidden; /* Float clearing for good browsers */
	font-size: 1.1em;
}

.buttons a.button, .buttons button {
  display: block;
  float: left;
  background: #d4d4d4 url("/images/bg_button.png") repeat-x;
  margin: 0 9px 0 0;
  border: 1px solid #b4b4b4;
  border-top: 1px solid #d4d4d4;
  border-left: 1px solid #d4d4d4;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 100%;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #646464;
  cursor: pointer;
  padding: 5px 10px 6px 7px; /* Links */
  white-space: nowrap;
}

.buttons object { /* Force inline Flash objects to act like a button */
  display: block;
  float: left;
  margin: 0 9px 0 0;
  cursor: pointer;
}

.buttons button {
  width: auto;
  overflow: visible;
  padding: 4px 10px 3px 7px; /* IE6 */
}
.buttons button[type] {
  padding: 5px 10px 5px 7px; /* Firefox */
  line-height: 18px; /* Safari */
}
*:first-child+html button[type] {
  padding: 4px 10px 3px 7px; /* IE7 */
}
.buttons button img, .buttons a img {
  margin: 0 3px -3px 0 !important;
  padding: 0;
  border: none;
  width: 16px;
  height: 16px;
}

/* =BUTTONS =TWEAKS */

.buttons a.button, .buttons button { /* Safari */
  -webkit-border-radius: 14px;
}

.buttons a.button, .buttons button, x:-moz-any-link, x:default {
  -moz-border-radius: 14px;
}

/* =BUTTONS =STANDARD */

.buttons button:hover, .buttons a.button:hover, .buttons a.button:active {
  background: #6299c5;
  border: 1px solid #6299c5;
  color: #fff;
}

/* =BUTTONS =POSITIVE */

button.positive, .buttons a.positive {
  color: #529214;
}

.buttons a.positive:hover, button.positive:hover, .buttons a.positive:active {
  background: #529214;
  border: 1px solid #529214;
  color: #fff;
}

/* =BUTTONS =NEGATIVE */

.buttons a.negative, button.negative {
  color: #d12f19;
}

.buttons a.negative:hover, button.negative:hover, .buttons a.negative:active {
  background: #d12f19;
  border: 1px solid #d12f19;
  color: #fff;
}

/* =BUTTONS =DISABLED */

.buttons a.disabled, button.disabled {
  background: #b4b4b4;
  border: 1px solid #b4b4b4;
  color: #fff;
}

.buttons a.disabled:hover, button.disabled:hover {
  background: #b4b4b4;
  border: 1px solid #b4b4b4;
  color: #fff;
  cursor: not-allowed;
}

/* =BUTTONS =PASSIVE */

.buttons a.passive {
  background: none;
  border: 1px solid transparent;
  color: #828282;
}

.buttons a.passive:hover {
  background: #eee;
  border: 1px solid #eee;
  color: #646464;
}